<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faces Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body{
      color: rgb(23, 15, 25);
          background-color: rgb(231, 213, 159);
      line-height: 1.9em;} 
    </style>
<body>



<div class="container my-5">
    {% include 'header.html' %}
    <h1 class="mb-5 mt-3">Faces Posts</h1>

    <ul class="list-group mb-5">
        {% for post in posts %}
        <li class="list-group-item">
            <a href="{% url 'post' post.pk %}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

    {% include 'footer.html' %}
</div>




</body>
</html>